* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #c1121f;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #1d3557;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e63946;
  border-bottom: 2px solid #e63946;
}


.hero {
  height: 100vh;
  background: linear-gradient(to right, #f1faee, #e63946);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

.hero h1 {
  font-size: 3.5rem;
  color: #1d3557;
}

.hero p {
  font-size: 1.3rem;
  margin: 15px 0;
}

.hero-buttons a {
  padding: 12px 30px;
  margin: 10px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  background: #e63946;
  color: white;
}

.hero-buttons .outline {
  background: transparent;
  border: 2px solid #e63946;
  color: #e63946;
}

.subtitle {
  font-size: 1.3rem;
  opacity: 0.95;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 2.3rem;
  font-weight: 600;
}

.camp-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.form-card {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.form-card input,
.form-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-card button {
  width: 100%;
  padding: 12px;
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
}

footer {
  background: #0f172a;
  color: white;
  padding: 40px 0;
}
